Titanic Survival Predicitons

In [1]:
# Importing the libraries

import pandas as pd

import numpy as np

import matplotlib.pyplot as plt

from sklearn.tree import DecisionTreeClassifier

Reading in and cleaning the training data

In [2]:
# Importing the dataset

X = pd.read_csv('train.csv')

In [3]:
# Dropping the columns that are not required

X.drop([61, 829], axis = 0, inplace = True)

In [4]:
# Replacing the string values with integer values

X['Sex'] = X['Sex'].replace('male', 1)

In [5]:
# Replacing the string values with integer values

X['Sex'] = X['Sex'].replace('female', 0)

In [6]:
# Replacing the string values with integer values

X['Embarked'] = X['Embarked'].replace('S', 0)

In [7]:
# Replacing the string values with integer values

X['Embarked'] = X['Embarked'].replace('C', 1)

In [8]:
# Replacing the string values with integer values

X['Embarked'] = X['Embarked'].replace('Q', 2)

In [9]:
# Replacing the null values with the mean of the column

X['Age'] = X['Age'].fillna(X['Age'].mean())

In [10]:
# Creating the dependent variable

y = X['Survived']

In [11]:
# Dropping the columns that are not required

X = X.drop(['Name', 'Ticket', 'Cabin', 'Survived'], axis=1)

Reading in and cleaning the testing data

In [12]:
# Reading in the test dataset

Z = pd.read_csv('test.csv')

In [13]:
# Dropping the columns that are not required

Z = Z.drop(['Name', 'Ticket', 'Cabin'], axis=1)

In [14]:
# Replacing the string values with integer values

Z['Sex'] = Z['Sex'].replace('male', 1)

In [15]:
# Replacing the string values with integer values

Z['Sex'] = Z['Sex'].replace('female', 0)

In [16]:
# Replacing the string values with integer values

Z['Embarked'] = Z['Embarked'].replace('S', 0)

In [17]:
# Replacing the string values with integer values

Z['Embarked'] = Z['Embarked'].replace('C', 1)

In [18]:
# Replacing the string values with integer values

Z['Embarked'] = Z['Embarked'].replace('Q', 2)

In [19]:
# Replacing the null values with the mean of the column

Z['Age'] = Z['Age'].fillna(Z['Age'].mean())

Fitting the model to the data(training the model)

In [20]:
# Creating an object of the DecisionTreeClassifier class

model = DecisionTreeClassifier()

# Fitting the model to the training data

model.fit(X, y)

DecisionTreeClassifier()

In [21]:
# Locating the null values in the test dataset

np.where(np.isnan(Z))

(array([152], dtype=int64), array([6], dtype=int64))

In [22]:
# Examing the row that contains the null value

print(Z.loc[[152]])

     PassengerId  Pclass  Sex   Age  SibSp  Parch  Fare  Embarked
152         1044       3    1  60.5      0      0   NaN         0

In [23]:
# Replacing the null value with the mean of the column

Z['Fare'] = Z['Fare'].fillna(Z['Fare'].mean())

In [24]:
# Predicting the survival of the passengers

predictions = model.predict(Z)

In [25]:
# Printing the predictions

predictions

array([0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0,
       1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1,
       1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0,
       0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0,
       0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0,
       0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1,
       1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0,
       1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1,
       1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0,
       1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0,
       1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1],
      dtype=int64)

Creating the final dataframe and writing to a new csv

In [27]:
# Creating the Submission dataframe from the PassengerId column of the test dataset

Submission = Z[['PassengerId']].copy()

In [28]:
# Adding the predictions to the Submission dataframe

Submission['Survived'] = predictions

In [29]:
# Printing the Submission dataframe

Submission

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         0
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         1

[418 rows x 2 columns]

In [30]:
# Saving the Submission dataframe to a csv file

Submission.to_csv('Submission.csv', index=False)